<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :category_id %>
  <% options = options_from_collection_for_select(@category, 'id','name') %>
  <%= f.select :category_id, options %>
  <br>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <br>
  <%= f.label :instruction %>
  <%= f.text_field :instruction %>
  <br>
  <div class="field">
  <%= collection_check_boxes(:recipe, :ingredient_ids, @ingredients, :id, :name) %>
</div>
  <%= f.submit 'Save Changes' %>



  <% end %>