<h1> All Recipes </h1>
<%= link_to("Add new recipe", new_recipe_path) %>
<br>
<% @recipes.each do |recipe| %>
  <%= recipe.name %>
  <%= recipe.description %>
  <%= recipe.ingredients.map {|r| r.name}.join(',') %>
  <%= link_to("View full recipe", recipe_path(recipe)) %>
  
<td> </td>
<br>
<% end %>

