<h1> <%= @recipe.name.capitalize %> </h1>
<br>
<p> <%= @recipe.description %> </p>
<br>
<p>
  <ul>
  <strong>Ingredients:</strong>
  <li> <%= @recipe.ingredients.map {|i| i.name}.join(',') %> </li>
  </ul>
</p>
<br>
<p> <%= image_tag @recipe.image %> </p>
<br>
<p> <%= @recipe.instruction %> </p>


<%= button_to('Delete Recipe', recipe_path(@recipe), method: :delete, data: {confirm: 'Delete? Are you sure?'}) %>
<%= link_to('Edit Recipe', edit_recipe_path(@recipe)) %>