<%= form_for @ingredient do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
<div class="field">
  <%= collection_check_boxes(:ingredient, :recipe_ids, @recipes, :id, :name) %>                            
</div>

<%= f.submit 'New Ingredient' %>
<%end%>  